/cmake-build-*/
/src/cmake-build-*/
/src/cmake-build-debug/


/.idea/
/src/.idea/
/src/.jupyter_runtime/
**/.ipynb_checkpoints/


**/__pycache__/
*.py[cod]


/src/configs/imgui.ini
/src/configs/*_benchmark_report.json
/src/configs/studies/**/experiment_runs/
/src/analysis_outputs/
/src/tmp_test_here.txt
